/* h1{
  font-size: 48px;
  font-weight: 700;
} */
.total{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
.bulb{
  height: 150px;
  width: 150px;
  border: solid 5px;
  border-radius: 50%;
  align-items: center;

}
button{
  height: 30px;
  width: 60px;
  background-color: blue;
}